@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i');

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

.App {
    display: flex;
    flex-flow: column;
    max-width: 800px;
    padding:1rem;
    margin: 2rem auto;
    text-align: center;

    background: #e6e6e6;
    border: 1px solid #c4dfeaa6;
    font-size:14px;
}

.Search {
    flex: 1;
    order: 1;

    margin:.5rem;
}

.Search input {
    float: left;
    padding: .5rem;
    width: 100%;
    margin-bottom:1rem;

    font-size: 14px;
}

.AppsList {
    flex: 1;
    order: 2;

    margin:.5rem;
}

.AppsList ul {
    list-style-type: none;
}

.AppsList ul li {
    text-align:left;
    border-bottom: 1px solid #ffffff;
    padding:1rem;
}

.Categories {
    flex: 1;
    order: 3;
    margin:.5rem;

    text-align:left;
    list-style:none;
}

.Categories:hover {
    cursor:pointer;
}

button.btn {
    padding: .5rem;
    margin: 1rem;
    margin-bottom: 0;
}
